@font-face {
  font-display: swap;
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/fredoka-one.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 600 700;
  src: url('/assets/fonts/fredoka-latin.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400 700;
  src: url('/assets/fonts/nunito-latin.woff2') format('woff2');
}
